:root {
    --default-font-family: Nunito, Inter, Helvetica, "sans-serif";
    --default-font-color: rgb(100, 99, 99);
    --default-border-color: #ddd;
  }

html,
body {
    height: 100%;
    margin: 0;
    font-family: var(--default-font-family);
    font-size: 14px !important;
    font-weight: 400;
    color: var(--default-font-color);
}

main {
    height: 100vh;
    background-color: #f6f6f6;
}

.container-fluid {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0rem;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5rem);
    padding-left: calc(var(--bs-gutter-x) *.5rem);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.col {
    flex: 1 0
}

.col-auto {
    flex: 1 0 auto;
}

.flex-box {
    display: flex;
}

.flex-grow {
    flex: 1 0 auto
}

.flex-column {
    display: flex;
    flex-direction: column;
}

@media (min-width: 868px) {
    .display-med-none {
        display: none !important;
    }
    .display-med-block {
        display: block !important;
    }
}

.flex-box-h-align-end {
    justify-content: flex-end;
}

.flexz-box-v-align-center {
    align-items: center;
}

.text-white {
    color: white;
}

.fw-bold {
    font-weight: bold !important;
}

.m-0 {
    margin: 0;
}

.mlr-1 {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.pt-6 {
    padding-top: 1.5rem;
}

.pt-3 {
    padding-top: 0.75rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 0.75rem;
}

.plr-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.plr-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.ptb-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.ptb-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.fs-6 {
    font-size: 1.5rem;
}

.text-decoration-none {
    text-decoration: none;
}

.side-bar {
    flex: 0 0 auto;
    width: 200px;
    height: 100vh;
    padding: 0rem;
}

@media (max-width: 868px) {
    .side-bar {
        position: fixed;
        z-index: 1;
        transform: translateX(-100%); /* Hide off-screen to the left */
        transition: transform 0.2s ease;
    }
}

@media (min-width: 868px) {
    .side-bar {
        z-index: 1;
        transition: transform 0.2s ease;
        transform: translateX(0); /* Move into view */
    }
}

.show-side-bar {
    transform: translateX(0); /* Hide off-screen to the left */
}

.bg-side-bar {
    background-color: rgb(49, 58, 70)/*#323C55;*/
}

.nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 9px 9px;
    font-size: 1rem;
    color: #8d98af;
    font-weight: 500;
    text-decoration: none;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
    color: white;
}

.nav-pills {
    border-radius: 0.5rem;
    color: white;
}

.nav-pills .nav-link {
    border-radius: 0.5rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #56677a;
}

.nav-item {
    flex: 1 1 auto;
    text-align: left;
    margin: 2px;
}

.navbar-toggler {
    background-color: rgb(240,240,240);
}

.navbar-toggler button{
    background-color: rgb(240,240,240);
    color: #323C55;
    border: 0;
}

.btn {
    background-color: rgb(238, 242, 247);
    border-color: rgba(0,0,0,0);
    border-width: 1px;
    padding: 8px;
    font-family: var(--default-font-family);
    font-size: 1rem;
    font-weight: 500;
    color: rgb(49, 58, 70);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: background-color 0.15s ease, color 0.15s ease, border 0.15s ease, transform 0.15s ease, box-shadow 0.15s ease;
}

.btn:hover {
    background-color: rgba(238, 242, 247, 0.7);
    color: rgba(49, 58, 70,0.7);
}

.btn:disabled {
    background-color: rgba(238, 242, 247, 0.5);
    color: rgba(49, 58, 70,0.3);
    cursor: not-allowed;
}

input[type=text] {
    font-family: var(--default-font-family);
    font-size: 1em;
    padding: 8px;
    color: var(--default-font-color);
    border: 1px solid var(--default-border-color);
}

hr {
    border-top: 1px;
    opacity: .25;
    color: #8d98af;
}

.nowrap {
    text-wrap: nowrap;
}

.h-20px {
    height: 20px !important;
}

.center-flex {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.right-flex {
    display: flex;
    justify-content: right;
    align-items: center; /* Center vertically */
}

