.breadcrumb {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px 10px 10px 0px;
  }
  
  .breadcrumb-item {
    text-decoration: none;
    color: #0275d8;
    font-weight: bold;
    margin-right: 4px;
  }
  
  .breadcrumb-item:hover {
    text-decoration: underline;
  }
  
  .breadcrumb-item.active {
    color: #666;
    cursor: default;
    text-decoration: none;
  }
  
  .breadcrumb-separator {
    margin: 0 8px;
    color: #ccc;
    font-size: 18px;
    user-select: none; /* Prevent selection of the separator */
  }
  