:root {
    --grid-header-bg-color: #eef2f7;
    --grid-padding: 0.6em;
  }

/* style.css */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: var(--grid-header-bg-color);
    color: #313a46;
}

th {
    white-space: nowrap;
}

thead th, tbody td {
    border-bottom: 1px solid #ddd;
    padding: var(--grid-padding);
    text-align: left;
    vertical-align: top;
}

.responsive-table a {
    color: var(--default-font-color);
}

.ellipsis-button {
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 7px 3px 7px;
    transition: background-color 0.3s, border 0.3s;
    border: 1px solid transparent;
}

.ellipsis-button:hover, tr:hover .ellipsis-button {
    background-color: rgb(238, 242, 247);
    border: 1px solid #ddd;
}

/* Responsive styling */
@media (max-width: 600px) {
    thead {
        display: none; /* Hide the header row at small screen sizes */
    }
    table, tbody, tr, td {
        display: block;
        width: 100%;
        min-width: 320px !important;
    }
    tr {
        margin-bottom: 15px; /* Space out the "cards" */
    }
    td {
        padding-left: 40% !important;
        position: relative;
        padding-top: 10px !important;
        box-sizing: border-box; /* Ensures padding does not add to width */
    }
    td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%; /* Adjust width as necessary */
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .nowrap {
        white-space: nowrap;
    }
}

